body {
    background-color: lightblue;
}

html {
    height: 100%;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.flexbox-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#topText, #boxLabel,.formButton{
    font-size: 1.8em;
}

#template{
    height: 3em;
    width: 10em;
    font-size: 2em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-right: -50%;
}

.flexbox-container > div {
    margin:0 auto;
    width:250px;
}

#textDiv {
    margin-left: -300%;
    width:250px;
}

#topText {
    margin-left: -3%;

}


.flexbox-item-1{
    align-items: center;
    justify-content: center;
}
#title{
    margin-top: 0;
    font-size: 2em;
    border-style: solid;
    border-width: medium;

}

#templateForm {
    width: 10%;
    align-items: center;
}

#templatePreview {
    max-width: 40%;
}

#click-photo {
    margin-top: 0;
    width: 10em;
    height: 3em;
    font-size: 1em;
    z-index: 4;
    border-radius: 12px;
}


#section-1{
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 55em;
}

#section-1 > #video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-basis: 100%;
}

#section-1 > span{
    color: burlywood;
    z-index: 2;
    text-shadow: 2px 2px black;
    font-size: 20em;
    visibility: hidden;
}


#finalPreview {
    max-height: 40%;
    max-width: 60%;
}

.endButton {
    font-size: 2em;
}

@media only screen and (min-width: 1440px) and (orientation: landscape) {

}

@media only screen and (min-device-width: 2880px){
    #section-1{
        margin-top: 0;
        display: inline-flex;
        position: relative;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 105em;
    }

    #click-photo {
        margin-top: 0;
        height: 3em;
        width: 10em;
        font-size: 2em;
        z-index: 4;
        border-radius: 12px;
    }

    #section-1 > span{
        color: burlywood;
        z-index: 2;
        text-shadow: 2px 2px black;
        font-size: 60em;
        visibility: hidden;
    }

    #finalPreview {
        max-height: 100%;
        max-width: 100%;
    }

    #title{
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 4em;
        border-style: solid;
        border-width: medium;

    }
}




